# Django Settings
SECRET_KEY=your-secret-key-here
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# PostgreSQL Database (для разработки и продакшена)
DB_ENGINE=django.db.backends.postgresql
DB_NAME=habit_db
DB_USER=admin
DB_PASSWORD=Lifetime
DB_HOST=localhost
DB_PORT=5432

# Telegram
TELEGRAM_BOT_TOKEN=your-telegram-bot-token

# Celery
CELERY_BROKER_URL=redis://localhost:6379/0